body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .5em;
    background: transparent;
}
::-webkit-scrollbar-track {
    margin-block: .5em;/* gap from the top of the screen*/
    
}
::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 167, 167)
}

#gradient-canvas {
    position: fixed;
    z-index: -1;
    height: 100vh;
    --gradient-color-1: #c3e4ff; 
    --gradient-color-2: #6ec3f4; 
    --gradient-color-3: #eae2ff;  
    --gradient-color-4: #b9beff;
}

.scroll-container, 
.scroll-area {
  height: 100vh;
}

.scroll-container {
    overflow: overlay;
    overflow-x: hidden; /* determines scroll bar */
    scroll-snap-type: y mandatory;
}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    scroll-snap-align: start;
}
/*  */ 
/*  */
/*  */
.one{
    flex: auto;
    flex-direction: column;
    height: 100vh;
    gap: 3vh; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.big-text {
    position: relative;
    top: 0vh;
    z-index: 1;
    font-size:  48px;
    font-weight: bolder;
}
#text {
    margin: 0%;
    font-size:  48px;
    top: 0vh;
    min-height: 5vh;
    position: relative;
    font-weight: bolder;
}

/* THIS IS THE START OF ICON LINKS CSS */
.hero-links {
    display: flex;
    position: relative;
    gap: 50px;    
}
.fa-square-pen {
    order: 1;
    color: #ffffff;
}
.fa-linkedin {
    order: 2;
    color: #ffffff;
}
.fa-square-github {
    order: 3;
    color: #ffffff;
}
.fa-linkedin:hover {
    color: rgba(255, 255, 255, 0.473);
    transition: color 0.5; /* amount of time it takes to change color */
}
.fa-square-github:hover {
    color: rgba(255, 255, 255, 0.473);
    transition: color 0.5;
}
.fa-square-pen:hover {
    color: rgba(255, 255, 255, 0.473);
    transition: color 0.5;
}
/* THIS IS THE END OF ICON LINKS CSS */
/*  */
/*  */
.trans {
    color: rgba(110, 195, 244, 0);
    border: 2px white;
}
.navbar {
    display: flex;
    color: white;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    top: 2vh;
    gap: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    mix-blend-mode: difference;
}

.binary {
    color: white;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-inline-end: 55vw;
    font-size: xx-large;
}

.links {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.links:hover {
    color: rgba(255, 255, 255, 0.699);
}

.down {
    position: relative;
    top: 35vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
}


/*  */
/*  */
/*  */

.two {
    background-color: white;
    color: black;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6ec3f4;
    border: #6ec3f4;
    border-radius: 2vh;
    height: 70vh;
    width: 130vh;

}


/*  */
/*  */
/*  */
.three {
    background-color: green;
}
.four{
    background-color: purple;
}



